@model Lab3.Models.Doctor

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Doctor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>

    </dl>
</div>

<div>
    <ul>
        @foreach (var patient in Model.patients)
            {
                <li>
                    <a href="/Doctors/Details/@patient.Id">@patient.PatientCode, @patient.Name</a>
                </li>
            }
    </ul>
</div>

<div>
    <a href="/Doctors/InsertNewPatient/@Model.Id">Add a patient</a>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
